
<section style="text-align: center; background-color: #EEE8AA; width: 100vw;">
    <div class="login">
        <h2>INICIA SESI&Oacute;N</h2>
        <i class="bi bi-person-circle" id="icono-login"></i>
        <br>
        <form action="menuGeneral.html" style="vertical-align: middle;">
            
            <label for="usuario"><i class="bi bi-person-fill" id="login-icon"></i></label>
            <input type="text" id="usuario" name="usuario" required>
            <br>
            <label for="pass"><i class="bi bi-key-fill" id="login-icon"></i></label>
            <input type="password" id="pass" name="pass" required>
            <br>
            <button class="boton">ENTRAR</button>
        </form>
    </div>
    


</section>

