<section class="centrar">
    <div class="contenedor">
        <div class="menu-item">
            <a href="#"><i class="bi bi-book icono" ></i></a>
            <a href="#"><P>DICCIONARIOS <br>DE<br>DATOS</P></a>
        </div>
        <div class="menu-item">
            <a href="#"><i class="bi bi-file-earmark icono"></i></a>
            <a href="#"><p>DOCUMENTACI&Oacute;N <br>DE <br> PROYECTOS</p></a>
        </div>
        <div class="menu-item">
            <i class="bi bi-graph-up-arrow icono"></i>
            <p style="margin-bottom: 0;">INDICADORES</p>
            <p style="font-size: 1rem; margin-top: 1vh;">EN PROCESO</p>
        </div>
        
    </div>
</section>
